.container {
  padding: 2rem;
}

.lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.navbarra {
    text-align: left;
    background-color: #F6C973;
    border: 5px solid #C1554C;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    width: 100%;
}

.nav_item {
    display: inline;
    text-align: center;
    margin-left: -2%;
}

#arrumar {
    margin-left: -1%;
}


.rodape {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.container_botao {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px; 
}

.voltar_button {
    background-color: #276772;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.voltar_button:hover {
    background-color: #1d4d55;
}

.texto {
  margin-top: 2%;
    color: #a18654;
    text-align: center;
}
