.navbarra {
    text-align: left;
    background-color: #F6C973;
    border: 5px solid #C1554C;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    width: 100%;
}

#arrumar {
    margin-left: -1%;
}

.transparente {
    color: #a18654;
    text-align: center;
}


.container_botao {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px; 
}

.voltar_button {
    background-color: #276772;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.voltar_button:hover {
    background-color: #1d4d55;
}

.caixa {
    justify-content: space-between;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    margin: 10px 0;
    background-color: #ffffff;
    margin-top: 1%;
}

.imagem {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.titulo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texto {
    text-align: center;
    justify-content: center;
    align-self: center;
    font-weight: bold;
    max-width: 80%;
    font-size: 20px;
}

.textoo {
    justify-content: center;
    align-self: center;
    max-width: 80%;
    font-size: 22px;
}