html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f6c973;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 18px; 
    max-height: 125px;
}

body {
    margin-left: 0;
    margin-right: 0;
}

p {
    font-size: 27px;
}

.rodape {
    background-color: #f6c973; 
    color: black; 
}

.texto_rodape {
    font-size: 22px;
    text-align: center;
    margin-left: 4%;
}

.none {
    display: none;
}

/* Ajustes para telas pequenas */
@media (min-width: 426px) and (max-width: 614px) {
    .navbarra {
        background-color: #a42525e6;
        margin: 0;
        padding: 30px 0px 30px 0px;
        text-align: center;
        border-radius: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media (max-width: 768px) {
    .rodape .col-12 {
        text-align: center;
    }

    .rodape img {
        margin-bottom: 15px; 
    }
}

@media (max-width: 992px) {
    footer {
        background-color: #f6c973;
        color: black;
        text-align: center;
        padding: 10px 0;
        margin-top: auto;
        font-size: 18px; 
        max-height: 155px;
    }
}

@media (max-width: 767px) {
    footer {
        background-color: #f6c973;
        color: black;
        text-align: center;
        padding: 10px 0;
        margin-top: auto;
        font-size: 18px; 
        max-height: 275px;
    }
}

@media (max-width: 425px) {
    .container {
        width: 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }

    footer {
        background-color: #f6c973;
        color: black;
        text-align: center;
        padding: 10px 0;
        margin-top: auto;
        font-size: 18px; 
        max-height: 350px;
    }
}
